.footer{
    max-width:100%;
    height:400px;
    background-color:#0d0d0d;
    // border:1px solid black;
    @include centerDisplay;
    flex-direction: column;
    .footer-wrapper{
        width:80%;
        height:80%;
        // background-color:orange;
        display:flex;
        justify-content:space-around;
        // align-items:Center;
        // background-color:aqua;

        &_content{
            color:#FFFFFF;
            display:flex;
            flex-direction:column;
            text-align:start;
            .all{
                list-style:none;
                padding:0;
                .link--footer{
                    text-decoration: none;
                    color:#999999;
                }   
                .link--footer:hover{
                    color:#FFFFFF;
                    text-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
                }
            }
            .sub-menu--child{
                display:flex;
                align-items:center;
                gap:10px;
                color:#FFFFFF;
                padding:8px 8px 10px 0;
                
            }
        }
        span{
            font-size:20px;
            color:rgba(255,255,255,1);
            padding:15px 0;
        }
    }
    .footer-copy{
        padding:10px 0;
        span{
            color:#999999;
        }
    }
}

@media only screen and (max-width:425px)  {
    .footer{
        height:auto;
        width:100%;
        .footer-wrapper{
            display:grid;
            grid-template-columns: auto auto;
            grid-row-gap:20px;
        }
        .footer-copy{
            text-align:center;
        }
    }
}