:root {
  --body_background:#FFFFFF;
}

* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

@keyframes slide {
  0% {
    left: -300px;
  }
  100% {
    right: calc(100% + 300px);
  }
}
@media only screen and (max-width: 2560px) {
  .header .header_menu .menu-content_right .cart {
    height: auto;
  }
}
@media only screen and (max-width: 1920px) {
  .header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 300;
    background-color: #ffffff;
  }
  .header .header_menu {
    width: 100%;
    displaY: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    position: relative;
  }
  .header .header_menu .menu-content {
    displaY: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 80px;
  }
  .header .header_menu .menu-content_left {
    height: 80px;
    display: flex;
    padding: 10px;
    width: 50%;
    justify-content: space-between;
    align-items: center;
  }
  .header .header_menu .menu-content_left .sub-menu {
    width: 75%;
    display: flex;
    justify-content: Start;
    margin-left: -40px;
  }
  .header .header_menu .menu-content_left .sub-menu .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
    gap: 25px;
  }
  .header .header_menu .menu-content_left .sub-menu .menu_item {
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    text-align: center;
    list-style: none;
    width: 150px;
    padding: 8px 0;
  }
  .header .header_menu .menu-content_left .sub-menu .menu_item .sub-menu--product {
    display: none;
    z-index: 200;
    padding: 0;
    position: absolute;
    background-color: #F3f3f3;
    top: 60px;
    width: 180px;
    padding: 10px;
  }
  .header .header_menu .menu-content_left .sub-menu .menu_item .sub-menu--product_item {
    text-indent: 10px;
    list-style: none;
    text-align: start;
    padding: 8px 2px;
    font-size: 16px;
  }
  .header .header_menu .menu-content_left .sub-menu .menu_item .sub-menu--product_item .link {
    text-decoration: none;
    color: #0D0D0D;
    font-family: "Oswald", sans-serif;
  }
  .header .header_menu .menu-content_left .sub-menu .menu_item .sub-menu--product_item .link:hover {
    color: #6a5af9;
  }
  .header .header_menu .menu-content_left .sub-menu .menu_item .sub-menu--product_item:hover {
    transition: ease-in-out 0.3s;
    text-indent: 30px;
  }
  .header .header_menu .menu-content_left .sub-menu .menu_item:hover {
    color: #6a5af9;
  }
  .header .header_menu .menu-content_left .sub-menu .menu_item:nth-child(2):hover .sub-menu--product {
    display: block;
  }
  .header .header_menu .menu-content_left .logo {
    width: 25%;
  }
  .header .header_menu .menu-content_left .logo .logo-img {
    width: 120px;
    height: 60px;
  }
  .header .header_menu .menu-content_right {
    height: 80px;
    display: flex;
    width: auto;
    padding: 10px;
    align-items: center;
    font-size: 18px;
  }
  .header .header_menu .menu-content_right .hamburger .menu-icon {
    padding: 10px;
    font-size: 20px;
  }
  .header .header_menu .menu-content_right .cart {
    width: auto;
  }
  .header .header_menu .menu-content_right .cart .icon-cart {
    font-size: 18px;
  }
  .header .header_menu .menu-content_right .cart .cart-btn {
    color: #6a5af9;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    padding: 5px;
  }
  .header .header_sidebar {
    position: absolute;
    width: 40%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: #FFFFFF;
    animation: slide 400ms ease-in-out;
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .header_banner .introduce {
    height: 250px;
  }
  .header_banner .introduce .title {
    height: 200px;
    gap: 40px;
  }
  .header_banner .introduce .title .content h2 {
    font-size: 30px;
  }
  .header_banner .introduce .title .content span {
    font-size: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .banner {
    height: 200px;
  }
  .banner .introduce {
    background-image: url("https://images.unsplash.com/photo-1585830812416-a6c86bb14576?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHN1cHBsZW1lbnR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 200px;
    text-align: start;
  }
  .banner .introduce .title .content {
    color: #f3f3f3;
    margin: 20px auto;
  }
  .banner .introduce .title .content h2 {
    font-size: 30px;
    color: #F3f3f3;
  }
  .banner .introduce .title .content span {
    font-size: 13px;
  }
  .banner .introduce .title .buy-now .access-btn {
    padding: 4px 8px;
  }
}
@media only screen and (max-width: 425px) {
  .header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 300;
    display: flex;
    justify-content: space-around;
  }
  .header .header_menu {
    width: 100%;
    height: auto;
  }
  .header .header_menu .menu-content {
    width: 100%;
  }
  .header .header_menu .menu-content_left .logo .logo-img {
    width: 100px;
    height: 40px;
  }
  .header .header_menu .menu-content_left .sub-menu {
    display: none;
  }
  .header .header_menu .menu-content_right .cart {
    display: none;
  }
  .header .header_sidebar {
    display: block;
    justify-content: center;
    border: 1px solid #0d0d0d;
  }
  .header .header_sidebar .menu {
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 50px auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  }
  .header .header_sidebar .menu .cart {
    height: auto;
    width: 80%;
  }
  .header .header_sidebar .menu .cart .cart-btn {
    border: 1px solid #6a5af9;
    padding: 4px 0;
    color: #6a5af9;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: Center;
    gap: 10px;
    text-decoration: none;
    font-size: 16px;
  }
  .header .header_sidebar .menu .introduce {
    height: Auto;
    width: 80%;
    display: block;
  }
  .header .header_sidebar .menu .introduce .link {
    padding: 4px 0;
    display: block;
    text-align: Center;
    width: 100%;
    border: 1px solid #6a5af9;
    color: #6a5af9;
    text-decoration: none;
    font-size: 16px;
  }
}
@media screen and (max-width: 1920px) {
  .body {
    max-width: 100vw;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }
  .body .tabs {
    margin: 30px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
  }
  .body .tabs .tab {
    color: #333333;
    text-align: Center;
    font-family: "Roboto", sans-serif;
    width: 200px;
    padding: 5px;
    font-size: 19px;
    font-weight: 500;
    font-family: "Roboto Condensed", sans-serif;
    border-radius: 4px;
    border: 1px solid #696969;
  }
  .body .tabs .active-tab {
    background-color: #6A5AF9 !important;
  }
  .body .tabs .tab:hover {
    background-color: #dcdcdc;
    transition: ease-in-out 0.3s;
    color: #333333;
    border: none;
  }
  .body .menu-mobile {
    display: none;
  }
  .body .content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .body .content .all-product {
    position: relative;
    z-index: 100;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 60px;
  }
  .body .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
  }
  .body .banner .introduce {
    background-image: url("https://plus.unsplash.com/premium_photo-1690291494818-068ed0f63c42?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid red;
    height: 300px;
    position: relative;
    border: 1px solid #0D0D0D;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    text-align: left;
    border: none;
  }
  .body .banner .introduce .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    height: 250px;
    font-family: "Roboto Condensed", sans-serif;
  }
  .body .banner .introduce .title .banner--content {
    width: 80%;
  }
  .body .banner .introduce .title .banner--content h2 {
    font-weight: 500;
    font-size: 40px;
    color: #F9f9f9;
    color: #EEEEEE;
    color: #0D0D0D;
    font-family: "Montserrat", sans-serif;
  }
  .body .banner .introduce .title .banner--content span {
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
  }
  .body .banner .introduce .title .buy-now {
    width: 80%;
    display: flex;
    justify-content: start;
    gap: 10px;
  }
  .body .banner .introduce .title .buy-now .access-btn:last-child {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #0D0D0D;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 10px;
  }
  .body .banner .introduce .title .buy-now .access-btn:first-child {
    color: #0D0D0D;
    background-color: #FFFFFF;
    font-size: 14px;
    text-decoration: none;
    padding: 8px 10px;
    font-weight: 600;
  }
}
@media only screen and (max-width: 1024px) {
  .body .tabs {
    width: auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-self: center;
    align-self: center;
    text-align: center;
  }
  .body .menu-mobile {
    display: none;
  }
  .body .content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: Relative;
    width: 80%;
  }
  .body .content .all-product {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    grid-gap: 40px;
  }
}
@media screen and (max-width: 768px) {
  .body {
    gap: 20px;
  }
  .body .tabs .tab {
    background-color: #F3F3F3;
    font-size: 17px;
    width: 180px;
  }
  .body .menu-mobile {
    display: none;
  }
  .body .content .all-product {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
}
@media only screen and (max-width: 576px) {
  .body {
    gap: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .body .banner {
    height: 300px;
    background-image: url("https://plus.unsplash.com/premium_photo-1690291494818-068ed0f63c42?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .body .banner .introduce {
    width: 100%;
  }
  .body .banner .introduce .title .banner--content h2 {
    font-size: 30px;
  }
  .body .banner .introduce .title .buy-now .access-btn:first-child {
    display: none;
  }
  .body .tabs {
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .body .tabs .tab {
    width: 150px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .body .content {
    width: 100%;
    padding: 0 0 40px 0;
  }
  .body .content .all-product {
    gap: 0;
    display: grid;
    grid-template-columns: auto auto;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  50% {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  100% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}
.sup {
  margin: 40px 0;
  transform-style: preserve-3d;
  transition: transform 1600ms;
  position: relative;
  width: 200px;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sup .front-card, .sup .back-card {
  backface-visibility: hidden;
  position: absolute;
  animation: shadow-pulse 2s infinite;
  border-radius: 20px;
  height: 270px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.sup .front-card .whey, .sup .back-card .whey {
  width: 150px;
  height: 150px;
}
.sup .front-card .item, .sup .back-card .item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  width: 200px;
  align-items: Center;
}
.sup .front-card .item .sup-item, .sup .back-card .item .sup-item {
  width: 90%;
  height: 20px;
  color: #0D0D0D;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
  overflow: hidden;
  overflow: word-break;
}
.sup .front-card .item .sup-type, .sup .back-card .item .sup-type {
  color: #333333;
  font-size: 13px;
}
.sup .front-card .item .sup-price, .sup .back-card .item .sup-price {
  color: #696969;
}
.sup .back-card {
  transform: rotateY(180deg);
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sup .back-card h2 {
  color: #0B666A;
}
.sup .back-card .status {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
}
.sup .back-card .status li {
  height: 85%;
  overflow: hidden;
  position: absolute;
  margin: 20px auto;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  width: 80%;
  padding: 5px;
  font-size: 15px;
  list-style: none;
  color: #0D0D0D;
}
.sup .back-card .product--arrow {
  font-size: 15px;
}
.sup .back-card .btn {
  position: relative;
  background-color: #6a5af9;
  color: #f5f5f5;
  padding: 7px 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
  animation: slide-down 2s ease-in-out infinite;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.sup:hover {
  transform: rotateY(180deg);
}

@media only screen and (max-width: 425px) {
  .sup {
    width: 160px;
    height: 220px;
  }
  .sup .front-card, .sup .back-card {
    display: flex;
    justify-content: space-around;
  }
  .sup .front-card .whey, .sup .back-card .whey {
    width: 130px;
    height: 130px;
  }
  .sup .front-card .item, .sup .back-card .item {
    width: 100%;
  }
  .sup .front-card .item .sup-item, .sup .back-card .item .sup-item {
    font-size: 15px;
    overflow-wrap: break-word;
  }
  .sup .front-card .item .sup-type, .sup .back-card .item .sup-type {
    font-size: 12px;
  }
  .sup .front-card .item .sup-price, .sup .back-card .item .sup-price {
    font-size: 14px;
  }
}
@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  50% {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  100% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}
@media screen and (max-width: 1920px) {
  .logIn-page,
  .signUp-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logIn-page .logIn--form,
  .logIn-page .signUp--form,
  .signUp-page .logIn--form,
  .signUp-page .signUp--form {
    animation: shadow-pulse 2s infinite;
    background-color: #F5F5F5;
    border-radius: 5px;
    position: relative;
    width: 60%;
    height: 85%;
    border: 3px solid #0D0D0D;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logIn-page .logIn--form .logIn--box,
  .logIn-page .signUp--form .logIn--box,
  .signUp-page .logIn--form .logIn--box,
  .signUp-page .signUp--form .logIn--box {
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logIn-page .logIn--form .logIn--box .box,
  .logIn-page .signUp--form .logIn--box .box,
  .signUp-page .logIn--form .logIn--box .box,
  .signUp-page .signUp--form .logIn--box .box {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
  }
  .logIn-page .logIn--form .logIn--box .box_title,
  .logIn-page .signUp--form .logIn--box .box_title,
  .signUp-page .logIn--form .logIn--box .box_title,
  .signUp-page .signUp--form .logIn--box .box_title {
    width: 300px;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .logIn-page .logIn--form .logIn--box .box_title h1,
  .logIn-page .signUp--form .logIn--box .box_title h1,
  .signUp-page .logIn--form .logIn--box .box_title h1,
  .signUp-page .signUp--form .logIn--box .box_title h1 {
    font-size: 40px;
    color: #2E8A99;
    color: #0D0D0D;
    font-family: "Montserrat", sans-serif;
  }
  .logIn-page .logIn--form .logIn--box .box_title span,
  .logIn-page .signUp--form .logIn--box .box_title span,
  .signUp-page .logIn--form .logIn--box .box_title span,
  .signUp-page .signUp--form .logIn--box .box_title span {
    margin-top: 5px;
    font-size: 15px;
    font-weight: 500;
  }
  .logIn-page .logIn--form .logIn--box .box_form,
  .logIn-page .signUp--form .logIn--box .box_form,
  .signUp-page .logIn--form .logIn--box .box_form,
  .signUp-page .signUp--form .logIn--box .box_form {
    height: 40%;
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 300px;
    color: #0d0d0d;
    position: relative;
    gap: 25px;
  }
  .logIn-page .logIn--form .logIn--box .box_form .top--box,
  .logIn-page .signUp--form .logIn--box .box_form .top--box,
  .signUp-page .logIn--form .logIn--box .box_form .top--box,
  .signUp-page .signUp--form .logIn--box .box_form .top--box {
    position: relative;
  }
  .logIn-page .logIn--form .logIn--box .box_form .top--box .email,
  .logIn-page .signUp--form .logIn--box .box_form .top--box .email,
  .signUp-page .logIn--form .logIn--box .box_form .top--box .email,
  .signUp-page .signUp--form .logIn--box .box_form .top--box .email {
    color: #999;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 21px;
    pointer-events: none;
    transition: 0.25s ease;
  }
  .logIn-page .logIn--form .logIn--box .box_form .top--box .email-input,
  .logIn-page .signUp--form .logIn--box .box_form .top--box .email-input,
  .signUp-page .logIn--form .logIn--box .box_form .top--box .email-input,
  .signUp-page .signUp--form .logIn--box .box_form .top--box .email-input {
    height: 50px;
    width: 100%;
    font-size: 15px;
    padding: 20px;
    color: #0d0d0d;
  }
  .logIn-page .logIn--form .logIn--box .box_form .top--box .email-input:focus,
  .logIn-page .signUp--form .logIn--box .box_form .top--box .email-input:focus,
  .signUp-page .logIn--form .logIn--box .box_form .top--box .email-input:focus,
  .signUp-page .signUp--form .logIn--box .box_form .top--box .email-input:focus {
    outline-color: #6a5af9;
  }
  .logIn-page .logIn--form .logIn--box .box_form .top--box .email-input:not(:-moz-placeholder-shown) + .email, .logIn-page .signUp--form .logIn--box .box_form .top--box .email-input:not(:-moz-placeholder-shown) + .email, .signUp-page .logIn--form .logIn--box .box_form .top--box .email-input:not(:-moz-placeholder-shown) + .email, .signUp-page .signUp--form .logIn--box .box_form .top--box .email-input:not(:-moz-placeholder-shown) + .email {
    top: 0;
    padding: 10px 10px 0 10px;
    display: inline-block;
    background-color: #FFFFFF;
    color: #6a5af9;
  }
  .logIn-page .logIn--form .logIn--box .box_form .top--box .email-input:not(:placeholder-shown) + .email,
  .logIn-page .logIn--form .logIn--box .box_form .top--box .email-input:focus + .email,
  .logIn-page .signUp--form .logIn--box .box_form .top--box .email-input:not(:placeholder-shown) + .email,
  .logIn-page .signUp--form .logIn--box .box_form .top--box .email-input:focus + .email,
  .signUp-page .logIn--form .logIn--box .box_form .top--box .email-input:not(:placeholder-shown) + .email,
  .signUp-page .logIn--form .logIn--box .box_form .top--box .email-input:focus + .email,
  .signUp-page .signUp--form .logIn--box .box_form .top--box .email-input:not(:placeholder-shown) + .email,
  .signUp-page .signUp--form .logIn--box .box_form .top--box .email-input:focus + .email {
    top: 0;
    padding: 10px 10px 0 10px;
    display: inline-block;
    background-color: #FFFFFF;
    color: #6a5af9;
  }
  .logIn-page .logIn--form .logIn--box .box_form .bottom--box,
  .logIn-page .signUp--form .logIn--box .box_form .bottom--box,
  .signUp-page .logIn--form .logIn--box .box_form .bottom--box,
  .signUp-page .signUp--form .logIn--box .box_form .bottom--box {
    position: relative;
  }
  .logIn-page .logIn--form .logIn--box .box_form .bottom--box .password,
  .logIn-page .signUp--form .logIn--box .box_form .bottom--box .password,
  .signUp-page .logIn--form .logIn--box .box_form .bottom--box .password,
  .signUp-page .signUp--form .logIn--box .box_form .bottom--box .password {
    color: #999;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 21px;
    pointer-events: none;
    transition: 0.25s ease;
  }
  .logIn-page .logIn--form .logIn--box .box_form .bottom--box .psw-input,
  .logIn-page .signUp--form .logIn--box .box_form .bottom--box .psw-input,
  .signUp-page .logIn--form .logIn--box .box_form .bottom--box .psw-input,
  .signUp-page .signUp--form .logIn--box .box_form .bottom--box .psw-input {
    height: 50px;
    width: 100%;
    font-size: 15px;
    padding: 20px;
    color: #0d0d0d;
  }
  .logIn-page .logIn--form .logIn--box .box_form .bottom--box .psw-input:focus,
  .logIn-page .signUp--form .logIn--box .box_form .bottom--box .psw-input:focus,
  .signUp-page .logIn--form .logIn--box .box_form .bottom--box .psw-input:focus,
  .signUp-page .signUp--form .logIn--box .box_form .bottom--box .psw-input:focus {
    outline-color: #6a5af9;
  }
  .logIn-page .logIn--form .logIn--box .box_form .bottom--box .psw-input:not(:-moz-placeholder-shown) + .password, .logIn-page .signUp--form .logIn--box .box_form .bottom--box .psw-input:not(:-moz-placeholder-shown) + .password, .signUp-page .logIn--form .logIn--box .box_form .bottom--box .psw-input:not(:-moz-placeholder-shown) + .password, .signUp-page .signUp--form .logIn--box .box_form .bottom--box .psw-input:not(:-moz-placeholder-shown) + .password {
    top: 0;
    padding: 10px;
    display: inline-block;
    background-color: #FFFFFF;
    color: #6a5af9;
  }
  .logIn-page .logIn--form .logIn--box .box_form .bottom--box .psw-input:not(:placeholder-shown) + .password,
  .logIn-page .logIn--form .logIn--box .box_form .bottom--box .psw-input:focus + .password,
  .logIn-page .signUp--form .logIn--box .box_form .bottom--box .psw-input:not(:placeholder-shown) + .password,
  .logIn-page .signUp--form .logIn--box .box_form .bottom--box .psw-input:focus + .password,
  .signUp-page .logIn--form .logIn--box .box_form .bottom--box .psw-input:not(:placeholder-shown) + .password,
  .signUp-page .logIn--form .logIn--box .box_form .bottom--box .psw-input:focus + .password,
  .signUp-page .signUp--form .logIn--box .box_form .bottom--box .psw-input:not(:placeholder-shown) + .password,
  .signUp-page .signUp--form .logIn--box .box_form .bottom--box .psw-input:focus + .password {
    top: 0;
    padding: 10px;
    display: inline-block;
    background-color: #FFFFFF;
    color: #6a5af9;
  }
  .logIn-page .logIn--form .logIn--box .box_form .remember,
  .logIn-page .signUp--form .logIn--box .box_form .remember,
  .signUp-page .logIn--form .logIn--box .box_form .remember,
  .signUp-page .signUp--form .logIn--box .box_form .remember {
    font-size: 14px;
    display: flex;
    gap: 10px;
  }
  .logIn-page .logIn--form .logIn--box .box_form .remember input,
  .logIn-page .signUp--form .logIn--box .box_form .remember input,
  .signUp-page .logIn--form .logIn--box .box_form .remember input,
  .signUp-page .signUp--form .logIn--box .box_form .remember input {
    outline: 0, 5px solid #0d0d0d;
  }
  .logIn-page .logIn--form .logIn--box .box_btn,
  .logIn-page .signUp--form .logIn--box .box_btn,
  .signUp-page .logIn--form .logIn--box .box_btn,
  .signUp-page .signUp--form .logIn--box .box_btn {
    width: 300px;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }
  .logIn-page .logIn--form .logIn--box .box_btn .sg-up-btn,
  .logIn-page .signUp--form .logIn--box .box_btn .sg-up-btn,
  .signUp-page .logIn--form .logIn--box .box_btn .sg-up-btn,
  .signUp-page .signUp--form .logIn--box .box_btn .sg-up-btn {
    border: 1px solid #0D0D0D;
    width: 80%;
    font-size: 0.9375rem;
    font-weight: 600;
    padding: 7px;
    text-decoration: none;
    color: #0d0d0d;
  }
  .logIn-page .logIn--form .logIn--box .box_btn .sg-up-btn:hover,
  .logIn-page .signUp--form .logIn--box .box_btn .sg-up-btn:hover,
  .signUp-page .logIn--form .logIn--box .box_btn .sg-up-btn:hover,
  .signUp-page .signUp--form .logIn--box .box_btn .sg-up-btn:hover {
    background-color: #6a5af9;
    color: #0D0D0D;
  }
  .logIn-page .logIn--form .logIn--box .box_btn .lg-in-btn,
  .logIn-page .signUp--form .logIn--box .box_btn .lg-in-btn,
  .signUp-page .logIn--form .logIn--box .box_btn .lg-in-btn,
  .signUp-page .signUp--form .logIn--box .box_btn .lg-in-btn {
    padding: 7px;
    width: 80%;
    background-color: #0D0D0D;
    color: #ffffff;
    border: 1px solid #0D0D0D;
    text-decoration: none;
  }
  .logIn-page .logIn--form .logIn--box .box_btn .sg-up--social,
  .logIn-page .signUp--form .logIn--box .box_btn .sg-up--social,
  .signUp-page .logIn--form .logIn--box .box_btn .sg-up--social,
  .signUp-page .signUp--form .logIn--box .box_btn .sg-up--social {
    border: 1px solid #0d0d0d;
    width: 80%;
    font-size: 0.9375rem;
    font-weight: 600;
    padding: 7px;
  }
  .logIn-page .logIn--form .logIn--box .box_btn .sg-up--social .social_icon,
  .logIn-page .signUp--form .logIn--box .box_btn .sg-up--social .social_icon,
  .signUp-page .logIn--form .logIn--box .box_btn .sg-up--social .social_icon,
  .signUp-page .signUp--form .logIn--box .box_btn .sg-up--social .social_icon {
    font-size: 16px;
  }
  .logIn-page .logIn--form .logIn--box .box_btn .sg-up--social:hover,
  .logIn-page .signUp--form .logIn--box .box_btn .sg-up--social:hover,
  .signUp-page .logIn--form .logIn--box .box_btn .sg-up--social:hover,
  .signUp-page .signUp--form .logIn--box .box_btn .sg-up--social:hover {
    background-color: #6a5af9;
  }
  .logIn-page .logIn--form .signUp--box,
  .logIn-page .signUp--form .signUp--box,
  .signUp-page .logIn--form .signUp--box,
  .signUp-page .signUp--form .signUp--box {
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logIn-page .logIn--form .signUp--box .box,
  .logIn-page .signUp--form .signUp--box .box,
  .signUp-page .logIn--form .signUp--box .box,
  .signUp-page .signUp--form .signUp--box .box {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
  }
  .logIn-page .logIn--form .signUp--box .box_title,
  .logIn-page .signUp--form .signUp--box .box_title,
  .signUp-page .logIn--form .signUp--box .box_title,
  .signUp-page .signUp--form .signUp--box .box_title {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .logIn-page .logIn--form .signUp--box .box_title h1,
  .logIn-page .signUp--form .signUp--box .box_title h1,
  .signUp-page .logIn--form .signUp--box .box_title h1,
  .signUp-page .signUp--form .signUp--box .box_title h1 {
    font-size: 40px;
    color: #2E8A99;
    color: #0D0D0D;
    font-family: "Montserrat", sans-serif;
  }
  .logIn-page .logIn--form .signUp--box .box_title span,
  .logIn-page .signUp--form .signUp--box .box_title span,
  .signUp-page .logIn--form .signUp--box .box_title span,
  .signUp-page .signUp--form .signUp--box .box_title span {
    margin-top: 5px;
    font-size: 15px;
    font-weight: 500;
  }
  .logIn-page .logIn--form .signUp--box .box_form,
  .logIn-page .signUp--form .signUp--box .box_form,
  .signUp-page .logIn--form .signUp--box .box_form,
  .signUp-page .signUp--form .signUp--box .box_form {
    height: 40%;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: space-around;
    width: 300px;
    color: #0d0d0d;
  }
  .logIn-page .logIn--form .signUp--box .box_form .top--box,
  .logIn-page .signUp--form .signUp--box .box_form .top--box,
  .signUp-page .logIn--form .signUp--box .box_form .top--box,
  .signUp-page .signUp--form .signUp--box .box_form .top--box {
    position: relative;
  }
  .logIn-page .logIn--form .signUp--box .box_form .top--box .email,
  .logIn-page .signUp--form .signUp--box .box_form .top--box .email,
  .signUp-page .logIn--form .signUp--box .box_form .top--box .email,
  .signUp-page .signUp--form .signUp--box .box_form .top--box .email {
    color: #999;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 21px;
    pointer-events: none;
    transition: 0.25s ease;
  }
  .logIn-page .logIn--form .signUp--box .box_form .top--box .email-input,
  .logIn-page .signUp--form .signUp--box .box_form .top--box .email-input,
  .signUp-page .logIn--form .signUp--box .box_form .top--box .email-input,
  .signUp-page .signUp--form .signUp--box .box_form .top--box .email-input {
    height: 50px;
    width: 100%;
    font-size: 15px;
    padding: 20px;
    color: #0d0d0d;
    transition: 0.25s ease;
  }
  .logIn-page .logIn--form .signUp--box .box_form .top--box .email-input:focus,
  .logIn-page .signUp--form .signUp--box .box_form .top--box .email-input:focus,
  .signUp-page .logIn--form .signUp--box .box_form .top--box .email-input:focus,
  .signUp-page .signUp--form .signUp--box .box_form .top--box .email-input:focus {
    outline-color: #6a5af9;
  }
  .logIn-page .logIn--form .signUp--box .box_form .top--box .email-input:not(:-moz-placeholder-shown) + .email, .logIn-page .signUp--form .signUp--box .box_form .top--box .email-input:not(:-moz-placeholder-shown) + .email, .signUp-page .logIn--form .signUp--box .box_form .top--box .email-input:not(:-moz-placeholder-shown) + .email, .signUp-page .signUp--form .signUp--box .box_form .top--box .email-input:not(:-moz-placeholder-shown) + .email {
    top: 0;
    padding: 10px 10px 0 10px;
    display: inline-block;
    background-color: #FFFFFF;
    color: #6a5af9;
  }
  .logIn-page .logIn--form .signUp--box .box_form .top--box .email-input:not(:placeholder-shown) + .email,
  .logIn-page .logIn--form .signUp--box .box_form .top--box .email-input:focus + .email,
  .logIn-page .signUp--form .signUp--box .box_form .top--box .email-input:not(:placeholder-shown) + .email,
  .logIn-page .signUp--form .signUp--box .box_form .top--box .email-input:focus + .email,
  .signUp-page .logIn--form .signUp--box .box_form .top--box .email-input:not(:placeholder-shown) + .email,
  .signUp-page .logIn--form .signUp--box .box_form .top--box .email-input:focus + .email,
  .signUp-page .signUp--form .signUp--box .box_form .top--box .email-input:not(:placeholder-shown) + .email,
  .signUp-page .signUp--form .signUp--box .box_form .top--box .email-input:focus + .email {
    top: 0;
    padding: 10px 10px 0 10px;
    display: inline-block;
    background-color: #FFFFFF;
    color: #6a5af9;
  }
  .logIn-page .logIn--form .signUp--box .box_form .bottom--box,
  .logIn-page .signUp--form .signUp--box .box_form .bottom--box,
  .signUp-page .logIn--form .signUp--box .box_form .bottom--box,
  .signUp-page .signUp--form .signUp--box .box_form .bottom--box {
    position: relative;
  }
  .logIn-page .logIn--form .signUp--box .box_form .bottom--box .password,
  .logIn-page .signUp--form .signUp--box .box_form .bottom--box .password,
  .signUp-page .logIn--form .signUp--box .box_form .bottom--box .password,
  .signUp-page .signUp--form .signUp--box .box_form .bottom--box .password {
    color: #999;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 21px;
    pointer-events: none;
    transition: 0.25s ease;
  }
  .logIn-page .logIn--form .signUp--box .box_form .bottom--box .psw-input,
  .logIn-page .signUp--form .signUp--box .box_form .bottom--box .psw-input,
  .signUp-page .logIn--form .signUp--box .box_form .bottom--box .psw-input,
  .signUp-page .signUp--form .signUp--box .box_form .bottom--box .psw-input {
    height: 50px;
    width: 100%;
    font-size: 15px;
    padding: 20px;
    color: #0d0d0d;
  }
  .logIn-page .logIn--form .signUp--box .box_form .bottom--box .psw-input:focus,
  .logIn-page .signUp--form .signUp--box .box_form .bottom--box .psw-input:focus,
  .signUp-page .logIn--form .signUp--box .box_form .bottom--box .psw-input:focus,
  .signUp-page .signUp--form .signUp--box .box_form .bottom--box .psw-input:focus {
    outline-color: #6a5af9;
  }
  .logIn-page .logIn--form .signUp--box .box_form .bottom--box .psw-input:not(:-moz-placeholder-shown) + .password, .logIn-page .signUp--form .signUp--box .box_form .bottom--box .psw-input:not(:-moz-placeholder-shown) + .password, .signUp-page .logIn--form .signUp--box .box_form .bottom--box .psw-input:not(:-moz-placeholder-shown) + .password, .signUp-page .signUp--form .signUp--box .box_form .bottom--box .psw-input:not(:-moz-placeholder-shown) + .password {
    top: 0;
    padding: 10px;
    display: inline-block;
    background-color: #FFFFFF;
    color: #6a5af9;
  }
  .logIn-page .logIn--form .signUp--box .box_form .bottom--box .psw-input:not(:placeholder-shown) + .password,
  .logIn-page .logIn--form .signUp--box .box_form .bottom--box .psw-input:focus + .password,
  .logIn-page .signUp--form .signUp--box .box_form .bottom--box .psw-input:not(:placeholder-shown) + .password,
  .logIn-page .signUp--form .signUp--box .box_form .bottom--box .psw-input:focus + .password,
  .signUp-page .logIn--form .signUp--box .box_form .bottom--box .psw-input:not(:placeholder-shown) + .password,
  .signUp-page .logIn--form .signUp--box .box_form .bottom--box .psw-input:focus + .password,
  .signUp-page .signUp--form .signUp--box .box_form .bottom--box .psw-input:not(:placeholder-shown) + .password,
  .signUp-page .signUp--form .signUp--box .box_form .bottom--box .psw-input:focus + .password {
    top: 0;
    padding: 10px;
    display: inline-block;
    background-color: #FFFFFF;
    color: #6a5af9;
  }
  .logIn-page .logIn--form .signUp--box .box_btn,
  .logIn-page .signUp--form .signUp--box .box_btn,
  .signUp-page .logIn--form .signUp--box .box_btn,
  .signUp-page .signUp--form .signUp--box .box_btn {
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }
  .logIn-page .logIn--form .signUp--box .box_btn .sg-up-btn,
  .logIn-page .signUp--form .signUp--box .box_btn .sg-up-btn,
  .signUp-page .logIn--form .signUp--box .box_btn .sg-up-btn,
  .signUp-page .signUp--form .signUp--box .box_btn .sg-up-btn {
    width: 80%;
    font-size: 0.9375rem;
    font-weight: 600;
    padding: 7px;
    text-decoration: none;
    color: #0d0d0d;
    border: 1px solid #0D0D0D;
  }
  .logIn-page .logIn--form .signUp--box .box_btn .sg-up-btn:hover,
  .logIn-page .signUp--form .signUp--box .box_btn .sg-up-btn:hover,
  .signUp-page .logIn--form .signUp--box .box_btn .sg-up-btn:hover,
  .signUp-page .signUp--form .signUp--box .box_btn .sg-up-btn:hover {
    background-color: #6a5af9;
    color: #0D0D0D;
  }
  .logIn-page .logIn--form .signUp--box .box_btn span,
  .logIn-page .signUp--form .signUp--box .box_btn span,
  .signUp-page .logIn--form .signUp--box .box_btn span,
  .signUp-page .signUp--form .signUp--box .box_btn span {
    height: 50px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
  }
  .logIn-page .logIn--form .signUp--box .box_btn span .lg-in,
  .logIn-page .signUp--form .signUp--box .box_btn span .lg-in,
  .signUp-page .logIn--form .signUp--box .box_btn span .lg-in,
  .signUp-page .signUp--form .signUp--box .box_btn span .lg-in {
    color: green;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
  }
}
@media only screen and (max-width: 1920px) {
  .Error-Page {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: Center;
    justify-content: Center;
  }
  .Error-Page .error-content {
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Error-Page .error-content .not-found {
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: Center;
    align-items: Center;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    gap: 10px;
  }
  .Error-Page .error-content .not-found_code {
    width: 80%;
    background-image: url("https://scontent.xx.fbcdn.net/v/t1.15752-9/351604987_635478554826489_7274974103119894358_n.jpg?stp=dst-jpg_p206x206&_nc_cat=111&ccb=1-7&_nc_sid=aee45a&_nc_ohc=2UEvklpvGq4AX_eBTmx&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdQtk2Ly0QZP1eKkZUHseTAO7aeZiibj_PMx6ld22pOYAA&oe=653D3F91");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: "Open Sans", sans-serif;
    font-size: 12rem;
    color: #012463;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .Error-Page .error-content .not-found_notice {
    font-size: 25px;
    color: #012463;
  }
  .Error-Page .error-content .not-found_text {
    text-align: center;
  }
  .Error-Page .error-content .not-found .return {
    text-align: center;
    width: 150px;
    text-decoration: none;
    margin-top: 30px;
    padding: 10px;
    background-color: #012463;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    border-radius: 4px;
  }
}
@media only screen and (max-width: 768px) {
  .Error-Page .error-content .not-found_code {
    font-size: 8rem;
  }
}
@media only screen and (max-width: 425px) {
  .Error-Page .error-content .not-found_code {
    font-size: 5rem;
  }
  .Error-Page .error-content .not-found_text {
    display: none;
  }
}
.dark_mode {
  width: 200px;
  height: 100px;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  position: Relative;
}
.dark_mode input[type=checkbox] {
  padding: 10px;
  position: absolute;
  border: 1px solid blue;
}
.dark_mode .dark_mode_label {
  position: relative;
}

@media only screen and (max-width: 2560px) {
  .cart {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .cart .cart-item {
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cart .cart-item_product {
    width: 65%;
    height: 100%;
  }
  .cart .cart-item_product .cart--form .cart-table {
    position: relative;
    width: 100%;
  }
  .cart .cart-item_product .cart--form table {
    border-collapse: collapse;
    max-width: 100%;
  }
  .cart .cart-item_product .cart--form table thead {
    vertical-align: middle;
    border-bottom: 1px solid #ebebeb;
  }
  .cart .cart-item_product .cart--form table thead tr {
    overflow: hidden;
    position: relative;
  }
  .cart .cart-item_product .cart--form table thead tr th {
    overflow-wrap: break-word;
    max-width: 100%;
    padding: 12px 12px;
    font-weight: 600;
    font-size: 16px;
    text-align: left;
  }
  .cart .cart-item_product .cart--form table thead tr .product-thumbnail {
    width: 50px;
  }
  .cart .cart-item_product .cart--form table tbody {
    overflow: scroll;
  }
  .cart .cart-item_product .cart--form table tbody tr {
    border-bottom: 1px solid #e1e1e1;
    height: 80px;
    position: relative;
  }
  .cart .cart-item_product .cart--form table tbody tr td {
    text-align: left;
    padding: 12px 12px;
    width: 10px;
  }
  .cart .cart-item_product .cart--form table tbody tr td .qty {
    width: 114px;
    display: flex;
    justify-content: center;
    border: 1px solid hsl(0, 0%, 88%);
  }
  .cart .cart-item_product .cart--form table tbody tr td .qty input {
    width: 50px;
    text-align: center;
    outline: none;
    bordeR: none;
  }
  .cart .cart-item_product .cart--form table tbody tr td .qty .plus {
    border-right: 1px solid #e1e1e1;
  }
  .cart .cart-item_product .cart--form table tbody tr td .qty .minus {
    border-left: 1px solid #e1e1e1;
  }
  .cart .cart-item_product .cart--form table tbody tr td .qty_button {
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    text-align: center;
    width: 30px;
  }
  .cart .cart-item_product .cart--form table tbody tr td .qty_input {
    border: none;
    text-align: center;
    font-size: 14px;
    color: #282828;
  }
  .cart .cart-item_product .cart--form table tbody tr td .remove {
    color: blue;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
  }
  .cart .cart-item_product .cart--form table tbody tr td:nth-child(2) {
    color: #6a5af9;
    text-transform: italic;
    font-weight: 600;
    font-size: 15px;
  }
  .cart .cart-item_product .cart--form table tbody tr td:nth-child(3) {
    color: #777777;
  }
  .cart .cart-item_product .cart--form table tbody tr td:nth-child(5) {
    width: 120px;
  }
  .cart .cart-item_payment {
    border: 1px solid #e1e1e1;
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: Center;
  }
  .cart .cart-item_payment .wrapper {
    width: 90%;
    height: auto;
  }
  .cart .cart-item_payment .wrapper h2 {
    text-align: left;
    font-size: 30px;
    padding: 15px 0;
    font-family: "Oswald", sans-serif;
  }
  .cart .cart-item_payment .wrapper .payment--form {
    padding: 40px 0;
  }
  .cart .cart-item_payment .wrapper .payment--form .payment-table {
    width: 100%;
    position: relative;
  }
  .cart .cart-item_payment .wrapper .payment--form .payment-table tbody tr {
    padding: 15px 0;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    justify-content: space-between;
  }
  .cart .cart-item_payment .wrapper button {
    padding: 10px 20px;
    border: none;
    color: #FFFFFF;
    background-color: #0d0d0d;
    width: 80%;
    font-size: 16px;
  }
  .cart .cart-item_payment .return {
    margin-bottom: 20px;
  }
  .cart .cart-item_payment .return .rtn {
    text-decoration: none;
    color: #6a5af9;
    padding: 5px 10px;
    border: 1px solid #6a5af9;
    font-weight: 600;
  }
}
@media only screen and (max-width: 1024px) {
  .cart .cart-item {
    display: flex;
    flex-direction: column;
  }
  .cart .cart-item_payment {
    margin-top: 20px;
    width: 50%;
  }
  .cart .cart-item_product {
    border: 1px solid blue;
  }
}
.footer {
  max-width: 100%;
  height: 400px;
  background-color: #0d0d0d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer .footer-wrapper {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: space-around;
}
.footer .footer-wrapper_content {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  text-align: start;
}
.footer .footer-wrapper_content .all {
  list-style: none;
  padding: 0;
}
.footer .footer-wrapper_content .all .link--footer {
  text-decoration: none;
  color: #999999;
}
.footer .footer-wrapper_content .all .link--footer:hover {
  color: #FFFFFF;
  text-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.footer .footer-wrapper_content .sub-menu--child {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #FFFFFF;
  padding: 8px 8px 10px 0;
}
.footer .footer-wrapper span {
  font-size: 20px;
  color: rgb(255, 255, 255);
  padding: 15px 0;
}
.footer .footer-copy {
  padding: 10px 0;
}
.footer .footer-copy span {
  color: #999999;
}

@media only screen and (max-width: 425px) {
  .footer {
    height: auto;
    width: 100%;
  }
  .footer .footer-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 20px;
  }
  .footer .footer-copy {
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */